<%= form_for(@log) do |f| %>
  <% if @log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@log.errors.count, "error") %> prohibited this log from being saved:</h2>

      <ul>
      <% @log.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </div>


  <%= f.hidden_field :time, :value => Time.current %>


  <div class="field">
    <%= f.label :category %><br />
    <%= f.collection_select :category, Log::CATEGORY, :to_s, :humanize %>
  </div>
  <div class="field">
    <%= f.label :note %><br />
    <%= f.text_field :note %>
  </div>

  <div class="field">
     <%= f.hidden_field :own, :value=> User.find_by_id(session[:user_id]).name %>
  </div>

    <div class="field">
     <%= f.hidden_field :user_id, :value=> User.find_by_id(session[:user_id]).id %>
  </div>



  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
